body {
    background: linear-gradient(to right, #d3eaff, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forgot-container {
    height: 100vh;
    background-image: url('/ANH/bg_login.jpg'); /* Đặt ảnh nền nếu cần */
    background-size: cover;
    background-position: center;
}

.forgot-box {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
}

.logo-img {
    max-height: 80px;
    margin-bottom: 10px;
}
